@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"); */
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap'); */
/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css); */
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"); */
@font-face {
  font-family: "Pretendard";
  src:
    url("/fonts/PretendardVariable.woff2") format("woff2"),
    url("/fonts/PretendardVariable.woff") format("woff");
  font-weight: 45 920;
  font-display: swap;
}

/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box; /* Apply globally */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}

/* 스크롤바 숨기기 */
.no-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overscroll-behavior: none;

}
/* .item {
  #D81519 // primary
  #000000 // bg
  #ffffff // text
  #666666 // bg-text 연한색
  #242424 // footer bg (연한색
  #999999 // footer text 진한색

} */







/* 기존 css 들  */
/* Swiper의 기본 네비게이션 및 페이지네이션 클래스 덮어쓰기 */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #fff; /* 화살표 색상 */
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* 배경색 */
  width: 30px;
  height: 30px;
  border-radius: 50%; /* 동그랗게 만들기 */
}
.custom-swiper {
  --swiper-navigation-size: 14px;
}

/* hover 효과 */
.custom-swiper .swiper-button-next:hover,
.custom-swiper .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 페이지네이션 스타일 */
.custom-swiper .swiper-pagination-bullet {
  background-color: #ddd; /* 기본 색상 */
  width: 8px;
  height: 8px;
  opacity: 1;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #007bff; /* 활성화된 페이지네이션 색상 */
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scroll-container {
  display: flex;
  overflow-x: scroll; /* 가로 스크롤을 활성화 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤을 위해 */
}
/* raido button */
input[type="radio"] {
  /* display: none;  */
  appearance: none;
  /* height: 1.5rem; */
}

label:has(input[type="radio"]) {
  padding: 0.5rem 1.25rem;
  font-size: 14px;
  margin-right: 1rem;
  cursor: pointer;
  border: 1px solid #222;
  border-radius: 99px;
}

label:has(input[type="radio"]:checked) {
  background-color: #222;
  color: white;
}
